<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner-section">
        <img src="../static/images/banner.jpg" alt="">
    </div>
    <div class="hero-section">
        <div class="sub-hero-section-1">
            <img src="../static/images/admissions.jpg" alt="">
        </div>
        <div class="sub-hero-section-2">
            <a href="/admission"><h1>MANAGE ADMISSIONS</h1></a>
            <img src="../static/images/college2.jpg" alt="">
        </div>
    </div>
    <div class="gallery-section">
        <div class="sub-gallery">
            <h1>NRCM GALLERY</h1>
        </div>
        <div class="gallery-pics">
            <img id='pic' src="../static/images/play.jpg" alt="" >
            <img src="../static/images/students.jpg" alt="" >
            <img src="../static/images/dining.jpg" alt="">
            <img src="../static/images/seminar.jpg" alt="">
            <img src="../static/images/graduation.jpg" alt="">

        </div>
        <div class="contact-menu">
            <div class="menu-img">
                <img src="../static/images/sas.jpg" alt="">
            </div>
            <div class="menu-content">
                <pre>
                 <h1>CONTACT OUR 
VOLUNTEER</h1>
                 <p>For any assistance or any difficulties
in the process of admissions,
please feel free to reach out to our volunteers</p>
                      <p>She will take care of your accomodation
and guide to you for the campus tour</p>  
<p id="mob">(+91)123-456-7890
admission@nrcm.com
</p>
          </pre>      
            </div>
        </div>
    </div>
    <div class="footer-section">
        <div class="address-section">
            <h2>ADDRESS</h2><br>
            <p>Maisammaguda (V), Kompally,<br>
            Secundrabad - 500100,<br>
             Telangana State, India</p>
        </div>
       <div class="form-section">
        <form action="/query-form" method="post">
        <input type="text" placeholder="Name" name="sname"><br>
        <input type="email" placeholder="Email" name="email"><br>
        <input type="number" placeholder="Phone" name="phone"><br>
        <select name="course" id="">
            <option value="" disabled selected>Select Course</option>
            <option value="cse">CSE</option>
            <option value="aiml">ECE</option>
            <option value="iot">EEE</option>
            <option value="ds">MECH</option>
            <option value="cs">CIVIL</option>
        </select><br>
        <button>call me</button>
    </form>
       </div>
       <div class="contact-section">
            <h2>CONTACT</h2>
            <p>Phone: +91 9010902042<br>
                Email: principal@nrcmec.org<br>
                Website: www.nrcmec.org</p><br>
       </div>
    </div>
    <div class="copyright-section">
        <p>Copyright © 2022 || All Rights Reserved ||Developed by CH SAHASRA</p>
    </div>
</body>
</html>